/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding-4 {
    padding: 4px;
}

.flex {
    display: flex;
}

.fixed.bottom {
    position: fixed;
    bottom: 45px;
    right: 5px;
    z-index: 100000;
}


.text-center {
    text-align: center;
}

.text-align {
    text-align: right;
}

.text-left {
    text-align: left;
}

a {
    color: var(--mdc-filled-text-field-caret-color);
    text-transform: capitalize;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.flex.group>.mat-mdc-form-field {
    margin-right: 4px;
}


.mat-mdc-dialog-container .mdc-dialog__surface {
    overflow: hidden;
    padding: 16px;
}

.full-width {
    width: 100%;
}

.active {
    background-color: var(--mat-stepper-header-selected-state-icon-background-color) !important;
    color: whitesmoke !important;
}

.name {
    display: flex;
    cursor: pointer;
    background: #3f51b5;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3f51b5;
    color: aliceblue;
    transition: 0.5s all;
    align-items: center;
}

.name:hover {
    background: #e2e3e6;
    color: #3f51b5;
}

.mes {
    position: fixed;
    z-index: 1000000;
    bottom: 5px;
    left: 220px;
    opacity: 0.75;
    display: flex;
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

@keyframes example {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.refesh {
    animation: rotating 2s linear infinite;
    width: 24px;
    height: 24px;

    align-items: center;
    cursor: pointer;
    display: none;
}

.refesh.show {
    display: flex;
}

.delete {
    color: var(--mat-stepper-header-error-state-label-text-color);
    cursor: pointer;
    transition: 0.2s all;
    transform: scale(1.1);
}

.delete:hover {
    opacity: 0.85;
    color: #3f51b5;

}

.flex.center {
    display: flex;
    align-items: center;
}
.flex.column{
    flex-direction: column;
    flex-wrap: wrap;
}

.iconAction {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button {
    transition: 0.4s all;
}

.disabled {
    transition: 0.4s all;
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #ffffff !important;
    background-color: #d6d4d4 !important;
}

.max-height {
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ng-star-inserted{
    background-color: transparent;
}
mat-form-field.small {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
    font-size:medium;
  }
  ::ng-deep .mat-mdc-form-field-flex {
    margin-top: -7px !important;
}