<h2 class="text-center">{{infor}}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="max-height" id="scrollTop" style="    padding-top: 16px;">
        <ng-container *ngIf="data.obj">
            <div class="flex full-width" style="justify-content: flex-end;">
                <mat-form-field>
                    <mat-label>Ngày Tạo</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="createdAt">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </ng-container>
        <div formArrayName="formArray"
            *ngFor="let item of form.controls.formArray?.value; index as i;trackBy: trackByFn">
            <ng-container [formGroupName]="i">
                <div class="flex center" style="margin-bottom: -12px;margin-right:8px">
                    <input type="hidden" formControlName="id">
                    <input placeholder="id" type="hidden" [formControlName]="item.field"
                        *ngFor="let item of fieldsHidden" />
                    <button mat-mini-fab disabled style="margin-top: -21px;margin-right: 5px;" tabindex="1">
                        {{i+1}}
                    </button>
                    <div *ngFor="let item of fieldsShow">
                        <div [ngSwitch]="item.field">
                            <mat-form-field appearance="outline" *ngSwitchCase="'unit'" class="{{max50(item)}}">
                                <mat-label>{{item.text}}</mat-label>
                                <input (keyup)="onKeyUpUnit($event)" matInput [placeholder]="item.text"
                                    [type]="item.type" [required]="item.required" [step]="item.step"
                                    [formControlName]="item.field" [matAutocomplete]="auto" />
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of filteredOptionsUnit;"
                                        [value]="item">{{item}}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                            <mat-form-field appearance="outline" *ngSwitchCase="'name'" class="names">
                                <mat-label>{{item.text}}</mat-label>
                                <input (keyup)="onKeyUpName($event)" matInput [placeholder]="item.text"
                                    [type]="item.type" required="{{item.required}}" [step]="item.step"
                                    [formControlName]="item.field" [matAutocomplete]="auto1" />
                                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (focus)="onClickNames()"
                                    (optionSelected)="optionSelectedProductName($event,i)">
                                    <mat-option *ngFor="let item of filteredOptionsNames;"
                                        [value]="item.name">{{item.name}}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div appearance="outline" *ngSwitchCase="'status'"
                                style="margin-top: -20px;margin-left:4px;margin-right:4px">
                                <mat-button-toggle-group [formControlName]="item.field" aria-label="Font Style" #group
                                    (change)="onStatus($event)">
                                    <mat-button-toggle value="no" checked="true">Nợ</mat-button-toggle>
                                    <mat-button-toggle value="tra">Trả</mat-button-toggle>
                                </mat-button-toggle-group>

                            </div>
                            <div *ngSwitchDefault [ngSwitch]="item.type">
                                <mat-form-field appearance="outline" *ngSwitchCase="'date'">
                                    <mat-label>{{item.text}}</mat-label>
                                    <input matInput [matDatepicker]="picker11" [formControlName]="item.field">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker11"></mat-datepicker-toggle>
                                    <mat-datepicker #picker11></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" *ngSwitchDefault class="{{max50(item)}}">
                                    <mat-label>{{item.text}}</mat-label>
                                    <input matInput [placeholder]="item.text" [type]="item.type" [step]="item.step"
                                        [formControlName]="item.field" autocomplete="off" />

                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <mat-icon color="warn" class="delete" (click)="onDelete(i)">delete</mat-icon>
                </div>
            </ng-container>

        </div>
        <div class="flex center full-width" style="justify-content: center;" *ngIf="data.obj">
            <button mat-flat-button color="primary" type="button" (click)="onAdd()">Thêm
                Mới<mat-icon>add</mat-icon></button>
        </div>
    </div>
    <div class="full-width flex center" style="justify-content: flex-end;">
        
        <button mat-flat-button color="primary" [disabled]="!form.valid" mat-dialog-close type="submit"
            style="margin-right: 4px;"><mat-icon>save</mat-icon>&nbsp;Lưu
            </button>
            <button type="button"  class="close" mat-stroked-button mat-dialog-close style="margin-right: 8px;"><mat-icon>close</mat-icon> &nbsp;Thoát</button>
    </div>
</form>