.flex fieldset {
    flex-grow: 1;
}

.number-serial {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 40px;
    color: blue;
    animation: example 2s infinite alternate ease-in-out;
    font-weight: 700;
    display: flex;
    height: 94px;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    min-width: 220px;
    margin-right: 4px;
    border-radius: 4px;
    padding-right: 8px;
    margin-left: -4px;
}
.number-x{
    position: relative;
    top: 0;
    left: 0;
}
.lb-x{
    position: absolute;
    top: 2px;
    left: 4px;
    z-index: 10;
    color: yellowgreen;

}
.c1{
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0.1;background: transparent;
    color: beige;

}
.c2{
    position: absolute;
    z-index: 10;
    top: 0;
}
.bg-black{
background-color: rgb(44, 44, 44);
}
@keyframes example {
    0% {
        color: rgba(210, 245, 12, 0.9);
    }

    100% {
        color: rgb(222, 243, 33);
    }
}
.flex app-autocomplete{
   
    margin-right: 4px;
}
.sl-can{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    mat-form-field{
        margin-right: 4px;
        width: 150px;
    }
}
.sl-can mat-form-field input{
    text-align: right;
}
.text-left mat-form-field input{
    text-align: right;
}
section.sl-can{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
   div button{
        margin-left: 4px;
    }
}
section.sl-can .right{
    justify-content: right;
    display: flex;
}
section.sl-can .left{
    flex-grow: 1;
    display: flex;
    justify-content: left;
}
.x-price mat-form-field{
    max-width: 190px;
    margin-right: 4px;
}
.icon-right{
    align-items: flex-end;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.we{
    height: 100%;
    display: flex;
    align-content: flex-start;
    overflow: hidden;
    >app-expansion-table {
        width: 100%;
    }
}