<div class="upsert-can">

    <div class="sl-can text-left" style="margin-top: 0px;" *ngIf="weighStations">
       <div>
        <app-autocomplete [options]="optionCustomer"  (keyUp)="selectCusomer($event)" [data]="weighStations" [default]="defaultObj?.customerName" ></app-autocomplete>
       </div>
        <div>
            <app-autocomplete [options]="optionCarNumber" required="" [data]="weighStations" (selectTed)="selectCarNameTed($event)" [default]="defaultObj?.carNumber"  (keyUp)="selectCarName($event)"></app-autocomplete>
        </div>
       <div>
        <app-autocomplete [options]="optionWeighProductName" [data]="weighStations"  (keyUp)="selectProductName($event)" [default]="defaultObj?.productName"></app-autocomplete>
       </div>
       <div>
        <app-autocomplete [options]="optionWeighType" [data]="weighStations"  (keyUp)="selectType($event)" [default]="defaultObj?.type"></app-autocomplete>
       </div>
    </div>
    <div class="sl-can" style="margin-top: -16px;">
        <mat-form-field class="example-form-field small">
            <mat-label>Tạp Chất (Kg)</mat-label>
            <input matInput type="number" [(ngModel)]="obj.impuritiesKg" min="0">
            @if (obj.impuritiesKg) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="obj.impuritiesKg=0">
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>
        <mat-form-field class="small">
            <mat-label>Tạp Chất (%)</mat-label>
            <mat-select [(ngModel)]="obj.impurities" (selectionChange)="selectionChangeTapChat($event)">
                @for (x of impurities; track x) {
                <mat-option [value]="x">{{x}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-form-field small">
            <mat-label>Đơn Giá</mat-label>
            <input matInput type="number" [(ngModel)]="obj.price" min="0" (keyup)=" keypressDonGia($event)">
            @if (obj.price) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="obj.price=0"> 
                <mat-icon>close</mat-icon>
            </button>
            }
        </mat-form-field>
        <mat-form-field class="small">
            <mat-label>Đơn Vị</mat-label>
            <mat-select (selectionChange)="selectionChangeUnit($event)" required="" [(ngModel)]="obj.unit">
                <mat-option value="VND">VND</mat-option>
                <mat-option value="USD">USD</mat-option>
                <mat-option value="RIEL">RIEL</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="sl-can" style="margin-top: -16px;">
        <section class="example-section">
            <mat-radio-group [(ngModel)]="selectedRadio" >
                <mat-radio-button *ngFor="let item of radioGroup" [value]="item" (change)="onChangeRadio($event)">{{item}}</mat-radio-button>
            </mat-radio-group>
        </section>
    </div>
   
</div>
