.number {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 40px;
    color: blue;
    animation: example 2s infinite alternate ease-in-out;
    font-weight: 700;
    display: contents;
  align-items: center;
  justify-items: center;
}

@keyframes example {
    0% {
        color: rgba(210, 245, 12, 0.9);
    }

    100% {
        color: rgb(222, 243, 33);
    }
}

.tram-can-main {
    display: flex;
    flex-direction: column;
}

.tram-can-main>.head {
    display: flex;
    align-items: flex-start;
}
.weight{
    width: 220px;
    height: 65px;
    background: rgb(49, 49, 49);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.infor-status{
  margin-right: 4px;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    border: 1px solid rgba(102, 102, 102, 0.301);
    padding-right: 4px;
    background-color: rgba(160, 158, 158, 0.637);
    padding: 2px;
    >*{
        width: 100%;
        align-content: center;
        padding: 2px 4px ;
    }
}
.infor-status .k{
    padding: 3px;
    display: flex;
    justify-content:flex-start;
    justify-items: center;
  
    border-radius: 5px;
    div{
        margin-right: 4px;
       margin: auto;
       margin-left: 4px;
    }
}
.kl{
    color: rgb(27, 27, 247);
    font-weight: 800;
    padding: 4px;
    font-size: 18px;
    transition: 0.5s padding ;
}
.kl:hover{
    background-color: rgb(226, 230, 230);
    content: "Có thể sửa dữ liệu";
    padding: 5px;
    border: 1px solid brown;
}
.info-weight-product{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:6px;
    border: 1px solid rgba(102, 102, 102, 0.301);
    margin-left: 4px;
    background-color: rgb(0, 84, 209);
    color: whitesmoke;
}
.ketnoican{
    cursor: pointer;
    background-color: red;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0px;
    border-radius: 5px;
    >*{
        padding-left: 8px;
    }
}
.ketnoican:hover{
    opacity: 0.9;
    background-color: rgb(200, 248, 26);
    >*{
        color: blue;
    }
}
section.sl-can{
    display: flex;
    justify-content: right;
   div button{
        margin-left: 4px;
    }
}
section.sl-can .right{
    justify-content: right;
    display: flex;
}
section.sl-can .left{
    flex-grow: 1;
    display: flex;
    justify-content: left;
}
.is_connect{
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.9;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    transition: 0.5s opacity;
    :hover{
        opacity:1
    }
}
.responsive {
    width: 100%;
    height: auto;
    animation: 1s connect ;
    animation-iteration-count: infinite;
  }
  @keyframes connect {
   0%{opacity: 1;transform: scale(1.1);} 
   100%{opacity: 0.7;transform: scale(0.8);}
  }