.xc>*:not(.gr) {
    flex-grow: 1;
}

ad-table {
    width: 100%;
    
}
 .ad-container{
    height: 600px!important;
}

.form {
    height: -webkit-fill-available;
}

.units>div.main:nth-child(2) {
    flex-grow: 1;
    flex-basis: 100px;
}

.group {
    display: flex;
    text-align: left;
    align-items: center;

    >div {
        padding: 4px 2px;
        border-radius: 5px;
        margin-top: -4px;
        cursor: pointer;
    }
}

.margin-r4 {
    margin-right: 4px;
}

.gr button {
    flex-grow: 1;
    width: 50px;
}

.gr {

    margin-left: 8px;
    align-items: center;
}