<div class="padding-4" style="width: 150px;overflow-x: hidden;">
  <div class="menu" cdkMenu>
    <a *ngFor="let item of links; let i= index" routerLink="/{{item.link}}" [data-id]="item.link" class="menu-item"
      id="id-{{i}}" cdkMenuItem>
      <mat-icon>{{item.icon}}</mat-icon>&nbsp;<span>{{item.text}}</span></a>
  </div>
  <div class="docs-component-category-list-card">
    
    <div id="info">Thông Tin Hệ Thống</div>
    <table>
      <tbody>
        <tr>
          <td>Version:</td>
          <td><span id="getversion">{{ver}}</span></td> 
        </tr>
      </tbody>
    </table>
  </div>

</div>