@keyframes example {
    0% {
        color: rgba(210, 245, 12, 0.9);
    }

    100% {
        color: rgb(222, 243, 33);
    }
}

@keyframes err {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flex fieldset {
    flex-grow: 1;
}

.group {
    flex-wrap: nowrap !important;
    align-items: center;

    >button {
        // flex-grow: 1;
        padding: 0;
        // width: 100px;
        align-content: center;
        margin-top: -18px;
    }
}

.err {
    animation: err 3s infinite alternate ease-in-out;
}

.number-serial {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 36px;
    color: blue;
    animation: example 2s infinite alternate ease-in-out;
    font-weight: 700;
    display: flex;
    height: 84px;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    min-width: 160px;
    border-radius: 4px;
    padding: 0px 4px;

}

.number-x {
    transition: background 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}

.number-x:hover .number-serial:nth-child(2) {
    background-color: rgba(44, 44, 44, 0.623);
    color: brown;
}

.number-x:hover .lb-x {
    color: rgb(238, 240, 234);
}

.lb-x {
    position: absolute;
    top: 0px;
    left: 4px;
    z-index: 10;
    color: yellowgreen;
    font-size: 12px;
}

.c1 {
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0.1;
    background: transparent;
    color: beige;

}

.c2 {
    position: absolute;
    z-index: 10;
    top: 0;
}

.bg-black {
    background-color: rgb(44, 44, 44);
    width: 100%;
}

.time-x {
    position: absolute;
    bottom: -1px;
    right: 4px;
    color: aliceblue;
    font-size: 11px;
    z-index: 10;
}

select {
    border-radius: 5px;
    background-color: rgba(44, 44, 44, 0.103);
    color: whitesmoke;
    border: 1px solid yellowgreen;
}

select option {
    color: blue;
}

.number-x :hover select {
    border: 1px solid green;
}